<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-md-2">
                <!-- instrurction -->
                <mat-card-content>

                    <h3>Instruction</h3>
                    <ul>
                        <li>Do Not refresh the page otherwise you will get new question</li>
                        <li>Do not switch the tabs</li>
                        <li>Do not minimize the window</li>
                    </ul>
                </mat-card-content>
            </div>
            <div class="col-md-8">
                <!-- questions -->
                <ng-container *ngIf="questions">
                    <h1 class="mt20">
                        On Going Quiz <b>{{questions[0].quiz.title}}</b>
                    </h1>
                </ng-container>

                <mat-card *ngFor="let q of questions; let i = index; let j" class="mt10">
                    <mat-card-content>
                        <p> 
                            <b>Q.{{ i + 1 }}) </b> <span class="ml10" [innerHTML]="q.content"> </span>
                        </p>
                        <mat-divider>
                            
                        </mat-divider>
                        <br>
                        <div class="row mt20">
                            <div class="col-md-6">
                                <input type="radio" [value]="q.option1" [name]="i" > {{q.option1}}
                            </div>
                            <div class="col-md-6">
                                <input type="radio" [value]="q.option2" [name]="i" > {{q.option2}}
                                
                            </div>
                        </div>
                        
                        <div class="row mt20 ">
                            <div class="col-md-6">
                                <input type="radio" [value]="q.option4" [name]="i" > {{q.option3}}
                                
                            </div>
                            <div class="col-md-6">
                                <input type="radio" [value]="q.option4" [name]="i" > {{q.option4}}
                                
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>

                <div class="container text-center">
                    <button mat-raised-button class="mt10 mb20">Submit Quiz</button>
                </div>

            </div>
            <div class="col-md-2">
                <!-- progress -->
            </div>
        </div>
    </div>
</div>